/******************************************************************* 
Basic App Styling SASS Variables
********************************************************************/

$base-background-color: #1E1E1E;
$base-background-grey: #1b1b1b; 
$base-font-color: white;
$base-hover-color: #BD4517;
$secondary-font-color: #8d8d8d;


/******************************************************************* 
Layout Styling
********************************************************************/
html {
  background-color: $base-background-color;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
}

/******************************************************************* 
Basic Page Containers
********************************************************************/

.page-container-fixed {
  display: flex;
  justify-content: flex-start;
  margin: 0 40px 0 100px;
  position: fixed;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 900px) {
  .page-container-fixed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.page-container-scroll {
  display: flex;
  justify-content: flex-start;
  margin: 0 40px 0 100px;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 900px) {
  .page-container-scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}


/******************************************************************* 
Navbar Styling
********************************************************************/

.navBar {
  display: flex;
  color: $base-font-color;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  min-height: 500px;
  background-color: #191919;
  z-index: 100;
}

// @media only screen and (max-width: 900px) {
//   ul.menu {
//     visibility: hidden;
//     background-color: $base-background-color;
//   }
// }

@media only screen and (max-width: 900px) {
  .navBar {
    background-color: $base-background-color;
    visibility: hidden;
  }
}


h1.myName {
  font-size: 2rem;
  line-height: 1;
  color: $base-hover-color;
  margin-top: 50px;
}

ul.menu > li:hover {
  color: $base-hover-color;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  font-size: 17px;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}

.menu > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  fill: $base-hover-color;
  
}

.menu > li:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  fill: $base-hover-color;
  text-decoration: none;
}

.menu > a > li.home:hover::after {
  visibility: visible;
  content: 'HOME';
  font-size: 11px;
  display: flex;
  justify-content: center;
  color: $base-hover-color;
  text-decoration: none;
  
}

.menu > a > li.about:hover::after {
  visibility: visible;
  content: 'ABOUT';
  font-size: 11px;
  display: flex;
  justify-content: center;
  color: $base-hover-color;
  text-decoration: none;
}

.menu > a > li.skills:hover::after {
  visibility: visible;
  content: 'SKILLS';
  font-size: 11px;
  display: flex;
  justify-content: center;
  color: $base-hover-color;
  text-decoration: none;
}

.menu > a > li.work:hover::after {
  visibility: visible;
  content: 'WORK';
  font-size: 11px;
  display: flex;
  justify-content: center;
  color: $base-hover-color;
  text-decoration: none;
}

.menu > a > li.contact:hover::after {
  visibility: visible;
  content: 'CONTACT';
  font-size: 11px;
  display: flex;
  justify-content: center;
  color: $base-hover-color;
  animation: fadeIn 1s 1;
  text-decoration: none;

  @keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
  }
}

.home:hover .home-icon {
  display: none;
}

.about:hover .about-icon {
  display: none;
}

.skills:hover .tech-icon {
  display: none;
}

.tech:hover .tech-icon {
  display: none;
}

.work:hover .work-icon {
  display: none;
}

.contact:hover .contact-icon {
  width: 100px;
  position: absolute;
  animation: sentOut 0.5s 1;
  animation-timing-function: ease-out;

  @keyframes sentOut {
    from {left: 0px; opacity: 1;}
    to{left: 100px; opacity: 0;}
  }
  opacity: 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  width: 100%;
}

.social-media > li {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: center;
  height: 40px;
  align-items: center;
}

.social-media > li > a {
  display: flex;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.social-media > li > a:hover {
  color: $base-hover-color;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .social-media > li > a:hover {
    color: $base-hover-color;
    cursor: pointer;
  }
}

.navBar > a {
  color: $base-hover-color;
  text-decoration: none;
}

.navBar > li > a {
  color: $base-hover-color;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

ul.menu > a > li {
  color: white;
  text-decoration: none;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.menu > a:active {
  text-decoration: none;
}

 ion-icon {
   color: white;
 }


/******************************************************************* 
Home Page
********************************************************************/



.tim-logo > h1 {
  margin: 0;
  padding: 0 50px 0 0;
  font-display: swap;
  font-family: initial;
}

.tim-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1;
  color: $base-hover-color;
  font-size: 400px;
  transform: rotate(-20deg);
}

@media only screen and (max-width: 1200px) {
  .tim-logo {
    font-size: 250px;
  }
}

@media only screen and (max-width: 900px) {
  .tim-logo {
    display: none;
    }
  }

.photo-quote {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .photo-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }
}

.pre-loop-quote > p {
  margin: 0;

}

@media only screen and (max-width: 900px) {
  .animated-quotes > div {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
  }
}

div.contact-btn {
  color: $base-hover-color;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 4px;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid $base-hover-color;
  margin-top: 25px;
  width: 120px;
  text-align: center;
  font-weight: 500;
}

div.contact-btn:hover {
  background-color:$base-hover-color;
  color: $base-background-color;
  border-color: $base-hover-color;
}

.all-headings-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.all-headings-btn > a {
  display: flex;
  justify-content: flex-start;
}

.sub-heading {
  width: 350px;
  display: flex;
  justify-content: left;
  font-family: "Open Sans",sans-serif;
  letter-spacing: 3px;
  color: $secondary-font-color;
  font-weight: 400;
  font-size: 11px;
  margin: 0;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .sub-heading {
    width: 200px;
    padding-top: 0;
  }
}


/******************************************************************* 
Mobile Nav
********************************************************************/

.mobile-nav {
  visibility: hidden;
}

@media only screen and (max-width: 900px) {
  .mobile-nav {
    visibility: visible;
  }
}

.eidOtH a:hover {
  color: $base-hover-color;
 }
 
 .mobile-nav > button {
   outline: none;
 }
 
/******************************************************************* 
Contact
********************************************************************/

.top-buffer {
  display: none;
}

@media only screen and (max-width: 900px) {
  .top-buffer {
    height: 100px;
    width: 100%;
  }
}

.contact-component {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 140px 0 20px;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .contact-component {
    width: 90%;
    margin: 0px 50px 0 40px;
    padding: 0;
  }
}

.contact-title {
  color: $base-hover-color;
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
}

.contact-blurb {
  color: white;
  padding: 10px 0 40px 0;
  font-size: 14px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.name-and-email {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding-bottom: 20px;
}

@media only screen and (max-width: 900px) {
  .name-and-email {
    flex-direction: column;
    justify-content: space-between;;
    height: 120px;
  }
}

input.name-input {
    width: 100%;
    height: 100%;
    background: #2b2b2b;
    border: none;
    padding-left: 20px;
    color: white;
}

input.email-input {
    width: 100%;
    height: 100%;
    background: #2b2b2b;
    border: none;
    padding-left: 20px;
    color: white;
}



input.subject-input {
  width: 100%;
  height: 100%;
  background: #2b2b2b;
  border: none;
  padding-left: 20px;
  color: white;
}


textarea.message-input{
  width: 100%;
  height: 100%;
  background: #2b2b2b;
  border: none;
  padding: 20px 0 0 20px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

li.name {
  width: 100%;
  padding-right: 20px;
}

@media only screen and (max-width: 900px) {
  li.name { 
    width: 100%;
    padding-right: 20px;
    height: 50px;
  }
}

li.email {
  width: 100%;
  padding: 0 0 0 20px;
}

@media only screen and (max-width: 900px) {
  li.email { 
    width: 100%;
    padding: 0 20px 0 0;
    height: 50px;
  }
}

li.subject {
  width: 100%;
  height: 50px;
  padding: 0 0 20px 0;
}

li.message {
  width: 100%;
  height: 100px;
  padding: 0 0 40px 0;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.contact-btn {
  color: $base-hover-color;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 4px;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid $base-hover-color;
  margin-top: 25px;
  width: 120px;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
  float: right;
}

.contact-btn:hover {
  background-color:$base-hover-color;
  color: $base-background-color;
  border-color: $base-hover-color;
}

.error-messages {
  display: flex;
  padding: 20px 0;
  color: white;
  height: 200px;
  width: 100%; 
}

.error {
  color: white;
  padding: 10px 0;
}


/******************************************************************* 
About Me
********************************************************************/

.page-container-about {
  display: flex;
  justify-content: flex-start;
  margin: 0 40px 0 100px;
  position: fixed;
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 900px) {
  .page-container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: unset;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.about-me-sub-container {
  display: flex;
  flex-direction: row;
  width: 95%;
}

@media only screen and (max-width: 900px) {
  .about-me-sub-container {
    flex-direction: column;
    height: 100vh;
    padding: 40px 0 0 0;
  }
}

.about-me-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
  justify-content: center;
  padding-right: 20px;
}

@media only screen and (max-width: 900px) {
  .about-me-container {
    width: 100%;
    padding: 0 0 20px 0;
    justify-content: center;
    align-items: center;

  }
}

.about-title {
  color: $base-hover-color;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 60px 0 0 20px;
}

@media only screen and (max-width: 900px) {
  .about-title {
   justify-content: center;
   margin: 60px 0 0 0;
  }
}

.about-btn-info-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .about-btn-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: unset;
    margin-bottom: 40px;
    height: 250px;
    position: relative;
  }
}

.about-btn {
  color: $base-hover-color;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 4px;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid $base-hover-color;
  width: 120px;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
}

@media only screen and (max-width: 900px) {
  .about-btn {
    margin-top: 25px;
  }
}

.about-btn:hover {
  background-color:$base-hover-color;
  color: $base-background-color;
  border-color: $base-hover-color;
}

.about-me-information-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 65%;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  align-self: center;
  background: #2b2b2b;
}

@media only screen and (max-width: 900px) {
  .about-me-information-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: center;
    color: white;
    text-align: center;
  }
}

.about-me-blurb {
  color: white;
  width: 100%;
  margin: 60px 0 0 20px;
}

@media only screen and (max-width: 900px) {
  .about-me-blurb {
    margin: 60px 0 20px 0;
    text-align: center;
  }
}
.work-experience-container {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

@media only screen and (max-width: 900px) {
  .work-experience-container {
    width: 100%;
    padding: 20px 0 0 0;
  }
}

/******************************************************************* 
Work Experience Card
********************************************************************/

.work-exp-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid $secondary-font-color 1px;
  background-color: $base-background-grey;
  border-radius: 10px;
  margin: 0 0 40px 0;
  padding: 20px;
  color: white;
}


/******************************************************************* 
Skills
********************************************************************/


.page-container-fixed-skills {
  display: flex;
  justify-content: flex-start;
  margin: 0 40px 0 100px;
  position: fixed;
  width: 100%;
  height: 100vh;
}
// Skills page needs to scroll in mobile
@media only screen and (max-width: 900px) {
  .page-container-fixed-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    position: unset;
  }
}

.skills-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .skills-container {
    flex-direction: column;
    position: relative;
    align-items: center;
  }
}

.skills-title {
  color: $base-hover-color;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .skills-title {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.revealed-skills-container {
  display: flex;
  color: $secondary-font-color;
  width: 75%;
  position: relative;
  margin-left: 120px;
}

@media only screen and (max-width: 900px) {
.revealed-skills-container {
  margin: 0;
  width: 100%;
  } 
}

.select-skills {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 0 0 30px;
  width: 30%;
  justify-content: center;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  .select-skills { 
    margin: 0;
    width: 95%;
    padding-top: 20px;
  }
}

.about-my-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px;
  position: sticky;
  width: 100%;
  height: 50vh;
}

@media only screen and (max-width: 900px) {
  .about-my-skills { 
    align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .about-component {
    flex-direction: column;
    margin: 0;
    align-content: center;
  }
}

.reveal-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.selected-skillset {
  width: 60%;
  color: $base-hover-color;
  font-weight: bold;
  text-align: center;
  margin-right: 100px;
}

@media only screen and (max-width: 900px) {
  .selected-skillset {
    margin: 0;
  }
}

.skills-blurb {
  color: white;
  width: 100%;  
}

.contact-link {
  color: $base-hover-color;
}


/******************************************************************* 
Skill Card
********************************************************************/

li.skill-card {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 10px 0;
  justify-content: space-around;
  border: solid $secondary-font-color 1px;
  background-color: $base-background-grey;
  border-radius: 10px;
}

img.skill-image {
  display: flex;
  height: 50px;
  color: white;
  font-size: 12px;
  align-items: center;
}

li.skill-card {
  display: flex;
  align-items: center;
  padding: 10px;
}

ul.skill-cards {
  margin: 0;
  padding: 0;
}