@import "../../../globalStyle/colours.scss";

/******************************************************************* 
Animations must be global file 
********************************************************************/

.skill-card-enter {
  opacity: 0;
  transition: 1s;
  transform: translateX(220%);

  &.skill-card-enter-active {
    transition: 1s;
    transform: translateX(0%);
    opacity: 1;
  }
}

.skill-card-exit {
  opacity: 1;
  transition: 0.5s;
  transform: translateX(0);
  &.skill-card-exit-active {
    transition: 0.5s;
    transform: translateX(220%);
    opacity: 0.01;
  }
}

@media only screen and (max-width: 900px) {
  .skill-card-enter {
    opacity: 0;
    transition: 1s;
    transform: unset;
    &.skill-card-enter-active {
      transition: 1s;
      opacity: 1;
      transform: unset;
    }
  }

  .skill-card-exit {
    opacity: 1;
    transition: 0.5s;
    transform: unset;
    &.skill-card-exit-active {
      transition: 0.5s;
      opacity: 0.01;
      transform: unset;
    }
  }
}
