@import "../../../globalStyle/colours.scss";

.pageContainerSkills {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  width: calc(100% - 100px);
  min-height: 100vh;
  height: 100vh;
  padding: 0 0 0 100px;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.skillsTitle {
  color: $base-hover-color;
  font-weight: 500;
  font-size: 40px;
}

.revealedSkillsContainer {
  display: flex;
  color: $secondary-font-color;
  width: 75%;
  position: relative;
  margin: 40px 0 40px 120px;
  height: 100%;
}

.selectSkillsContainer {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 30px;
  width: 30%;
  justify-content: center;
  z-index: 1;
  height: 100%;
}

.selectSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.aboutMySkills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px;
  width: 100%;
}

.revealSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.selectedSkillset {
  color: $base-hover-color;
  font-weight: bold;
  text-align: center;
  width: 100%;
  max-height: 100vh;

  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

    li {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }
}

.skillsBlurb {
  color: white;
  width: 100%;
}

.contactLink {
  color: $base-hover-color;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .pageContainerSkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    position: unset;
    height: unset;
  }
  .skillsContainer {
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .skillsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }

  .revealedSkillsContainer {
    margin: 0;
    width: 100%;
    display: inline-block;
    padding: 20px 0;
  }

  .selectSkillsContainer {
    margin: 0;
    width: 95%;
    padding-top: 20px;
    display: inline-block;
  }

  .selectSkills {
    height: unset;
  }

  .aboutMySkills {
    align-items: center;
  }

  .aboutComponent {
    flex-direction: column;
    margin: 0;
    align-content: center;
  }

  .selectedSkillset {
    margin: 0;
    overflow-y: unset;
  }
}
