@import "../../../globalStyle/colours.scss";

.projCard {
  margin-right: 10%;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: flex-end;
  justify-content: center;
  position: relative;

  .projCardImg {
    width: 100%;
    align-self: flex-end;
    display: flex;
  }

  .scrollCards {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    color: $base-font-color;
    opacity: 0;

    .companyInfo {
      text-align: left;
      text-shadow: 0 1px 0 black;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .projectInfo {
      text-align: left;
      text-shadow: 0 1px 0 black;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &:hover {
    filter: drop-shadow(0 0 0.75rem $secondary-font-color);
    img {
      opacity: 0.4;
    }
    .scroll-cards {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 900px) {
  .scrollCards {
    padding: 10px;
  }
}

.projCard:hover {
  filter: drop-shadow(0 0 0.75rem $secondary-font-color);
  // background-color: opacify($color: #000000, $amount: 0);
  // opacity: 1;
  // visibility: visible;

  // .scroll-cards {
  //   opacity: 1;
  //   h4 {
  //     opacity: 1;

  //   }
  //   p {
  //     opacity: 1;

  //   }
  // }
}

.scrollCards:hover {
  opacity: 0.4;

  h4 {
    opacity: 1;
    visibility: visible;
  }
  p {
    opacity: 1;
    visibility: visible;
  }
}

.cardLink {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .projCard {
    margin-right: 15%;
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .projCard {
    margin-right: 8%;
    width: 55%;
  }
  .scroll-cards {
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
  }
}
