.preLoopQuote {
    p {
    margin: 0;
    color: white;
    font-size: 7rem;
    }
}

.quoteLoop {
    color: white;
}

// @media only screen and (max-width: 1100px) {
//     .preLoopQuote {
//         h1 {
//         font-size: 60px;
//         }
//     }
//   }
  
//   @media only screen and (max-width: 600px) {
//     .preLoopQuote {
//         h1 {
//         font-size: 30px;
//         }
//     }
//   }
  


